apiVersion: apps/v1
kind: Deployment
metadata:
  name: fe-deployment
  namespace: devops-todo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fe
  template:
    metadata:
      labels:
        app: fe
    spec:
      containers:
      - name: fe
        image: alyanmo/devops-todo-frontend:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8000

