apiVersion: v1
kind: Service
metadata:
  name: fe-service
  namespace: devops-todo
spec:
  selector:
    app: fe
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
  type: LoadBalancer